*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.product{
  box-shadow: 10px 10px 5px 5px grey;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: aqua;
}

.product h4{
  color: crimson;
}

.product h3{
  color: darkblue;
  font-style: italic;
}

.select_filter{
    text-align: center;
    width: 200px;
    margin: 20px auto;
}

.select_filter select{
  text-align: center;
  width: 200px;
  background-color: #DEBACE;
  padding: 6px;
}

.products{
  display: flex;
  flex-wrap: wrap;  
}

.button{
  text-align: center;
}

.button button{
  color: white;
  background-color: #7743DB;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border-color: #3B3486;
}

.select2{
  margin-top: 30px;
}
